.app {
  margin: 0;
  /* padding: 5%; */
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  /* overflow: hidden; */
  min-height: 100vh;
  min-height: 100vh;
}

.app-header {
  font-size: 2.5rem;
  margin: 20px 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1000px; */
  max-height: 65%;
  width: 65%;
  /* height: 100%; */
  /* margin: 0 auto; */
  /* padding: 0 5%; */
  /* border: 1px solid black; */
  /* box-sizing: border-box; */
  /* overflow: hidden; */
}